/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-may-2018, 18:01:53
    Author     : Adri
*/

.container {
    text-align: center;
}

.container h1 {
    margin-top: 200px;
    color: white;
    font-size: 3.5em;
    
}

.container #user, #pass {
    margin-top: 10px;
}

.container button {
    margin-top: 30px;
    margin-left: 500px;
    background: rgb(218,165,32);
    border: none;
}

.container input {
    size: 50;
}

.container button:hover {
    background: rgb(218,165,32);
}

body {
    background: url('../images/fondoLogin.jpg');
    background-size: cover;
    font-family: 'Do Hyeon', sans-serif;
}

.autor {
    margin-top: 230px;
}